body {
  background: black;
  font-family: 'Exo', sans-serif;
  color:pink;
  text-align: center;
}

#top-row {
  display:flex;
  justify-content: center;
}

#middle-row {
  display:flex;
  justify-content:center;
}

#bottom-row {
  display:flex;
  justify-content:center;
}

#blue, #green, #yellow, #red {
  opacity:.5;
  border-radius: 10px;
}
/*#blue:hover, #green:hover, #red:hover, #yellow:hover  {
  opacity:1;
}*/

#text {


  height:200px;
  width:200px;
}
#prompt{

}
#level {
  margin-top:35%;
}
#red {
  background: red;
  height:200px;
  width:200px;

}
#score {
  margin-bottom: 5px;
}

#container {
  height:50px;
  width:100%;
  text-align: center;
}

#yellow {
  background: yellow;
  height:200px;
  width:200px;
}

#blue {
  background: blue;
  height:200px;
  width:200px;
}

#green {
  background: green;
  height:200px;
  width:200px;
}
